<!-- ******************************************************************* -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/slack.png" alt="" />
      اللوجو
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item m-auto">
          <a class="nav-link" aria-current="page" href="#">
            <img src="assets/group340.png" alt="" />
            مرحبا بك !
          </a>
        </li>
        <li class="nav-item user-name dropdown m-auto">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            محمد أشرف
          </a>
          <ul class="dropdown-menu ms-auto" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#"
                ><img src="assets/group201.png" alt="" /> الحساب الشخصي</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><img src="assets/group371.png" alt="" /> التقويم</a
              >
            </li>
            <li>
              <a class="dropdown-item red" href="#"
                ><img src="assets/group202.png" alt="" /> تسجيل الخروج</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item m-auto">
          <a class="nav-link">
            <img src="assets/Path719.png" alt="" /> اللغه العربيه
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
